# Игнорируем виртуальные окружения
env/
venv/

# Игнорируем базу данных
*.sqlite3
*.db

# Игнорируем файлы конфигураций и кэши
__pycache__/
*.pyc
*.pyo
.DS_Store

# Игнорируем лог-файлы
*.log

# Игнорируем зависимости Node.js
node_modules/

# Игнорируем файлы IDE
.vscode/
.idea/
